<div class="row">
  <div class="col text-center">
    <img src="https://static.wixstatic.com/media/f628cf_6c7d7b8a700c4f759416580eec4bc3a0~mv2.jpg/v1/fill/w_404,h_264,al_c,lg_1,q_80/f628cf_6c7d7b8a700c4f759416580eec4bc3a0~mv2.webp">

    <h1 class='mt-5'>Uh oh... something ain't right.</h1>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>