

<div class="jumbotron">
  <h1 class="display-4">InConcert</h1>
  <p class="lead">Because music is better with company.</p>
</div>
<br>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/showups" role="button">See ShowUps</a>
  </p>