<h2>
    <i class="far fa-calendar-alt"></i>
    <%= @showup[:date] %>
</h2>
<h3><br>
Show Up for <%= @showup[:artists] %> pregame at <%= @showup[:pregame_loc] %>?
<br><br></h3>

<form action="/showups/<%= @showup[:id] %>/rsvps/create" method="post">
  <button type="submit" class="btn btn-primary">Register!</button>
</form>