

.jumbotron {
  background-image: url(‘https://res.cloudinary.com/dhh19fozh/q_auto:good,f_auto,dpr_1.0/w_auto:breakpoints_85_850_10_10:810/jb7production-uploads/2019/12/reggae-rise-up-vegas-2020-1200x632.jpg‘);
  background-size: cover;
  text-align: center;
}

.h9 {
    font-size: 72px;
    color: white;
    font-style: bold;
}